@use "node_modules/utopia-core-scss/src/utopia" as utopia;
@use "./viewport" as *;
@use "../10-functions/helpers" as help;

$font-size: utopia.calculateTypeScale(
  (
    "minWidth": map-get($viewport, "min"),
    "maxWidth": map-get($viewport, "max"),
    "minFontSize": 18,
    "maxFontSize": 20,
    "minTypeScale": 1.2,
    "maxTypeScale": 1.25,
    "positiveSteps": 5,
    "negativeSteps": 2,
    // Optional params
    "relativeTo": "viewport-width",
  )
);

$font-size: help.transform-map-values(
  $variable: $font-size,
  $key: "step",
  $keyValue: "clamp",
  $isNested: false,
);
