@use "node_modules/utopia-core-scss/src/utopia" as utopia;
@use "./viewport" as *;
@use "../10-functions/helpers" as help;

$space-size: utopia.calculateSpaceScale(
  (
    "minWidth": map-get($viewport, "min"),
    "maxWidth": map-get($viewport, "max"),
    "minSize": 18,
    "maxSize": 20,
    "positiveSteps": (
      1.5,
      2,
      3,
      4,
      6,
    ),
    "negativeSteps": (
      0.75,
      0.5,
      0.25,
    ),
    "customSizes": (
      // "s-l",
      // "l-s",,
    ),
    // Optional params
    "relativeTo": "viewport-width",
  )
);

$space-size: help.transform-map-values(
  $variable: $space-size,
  $key: "label",
  $keyValue: "clamp",
  $isNested: true,
);
