.u-center {
  text-align: center;
  margin-inline: auto;
}

.center {
  box-sizing: content-box; // box-sizing: border-box;
  min-inline-size: 10rem;
  // margin-inline: auto;
  text-align: center;
  max-inline-size: var(--measure);
  padding-inline: 1rem;
  display: flex;
  // flex-direction: column;
  // align-items: center;
}

.test {
  border: solid 10px red;
}
