/*
 * MATCH RADII
 * A utility that matches the border radius of a parent element and its child elements.
 * Info: https://set.studio/relative-rounded-corners/
 * 
 * CUSTOM PROPERTIES AND CONFIGURATION
 * --match-radii-padding: Defines the padding of the parent element.
 * --match-radii-inner-radius: Defines the border radius of the child elements.
 */

.u-match-radii {
  --match-radii-padding: var(--box-padding, 8px);
  --match-radii-inner-radius: var(--box-border-radius, 12px);

  padding: var(--match-radii-padding);
  border-radius: calc(
    var(--match-radii-inner-radius) + var(--match-radii-padding)
  );

  & > * {
    border-radius: var(--match-radii-inner-radius);
  }
}
