// Visually hide text while keeping it accessible
// Source: https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html
// https://practical-accessibility.today/chapters/hiding-techniques/

.visually-hidden:not(:focus):not(:active) {
  /* shrink to a 1px square */
  inline-size: 1px;
  block-size: 1px;

  /* hide any resulting overflow */
  overflow: hidden;

  /* clip the element to remove any visual trace */
  clip: rect(0 0 0 0); /* for IE only */
  clip-path: inset(50%);

  /* remove from page flow so it doesn’t affect surrounding layout */
  position: absolute;

  /* ensure proper text announcement by screen readers */
  white-space: nowrap;
}
