/*
C-BOX
More info: https://every-layout.dev/layouts/box/
A layout that provides a block element with padding and border.

CUSTOM PROPERTIES AND CONFIGURATION
--gutter: This defines the padding inside the box.
--border-color: This defines the color of the border.
--border-style: This defines the style of the border.
--border-width: This defines the width of the border.
*/

.l-box {
  --_box-padding: var(--gutter, 1rem); // var(--space-s-m)); ???
  --_box-border-color: var(--border-color, black);
  --_box-border-style: var(--border-style, solid);
  --_box-border-width: var(--border-width, 1px);

  display: block;
  padding: var(--box-padding, var(--_box-padding));
  border: var(--box-border-color, var(--_box-border-color))
    var(--box-border-style, var(--_box-border-style))
    var(--box-border-width, var(--_box-border-width));
}
