/*
C-BOX
More info: https://every-layout.dev/layouts/box/
A layout that provides a block element with padding and border.

CUSTOM PROPERTIES AND CONFIGURATION
--gutter: This defines the padding inside the box.
--border-color: This defines the color of the border.
--border-style: This defines the style of the border.
--border-width: This defines the width of the border.
*/

.l-box {
  $box-padding: var(--gutter, 1rem); // var(--space-s-m)); ???

  display: block;
  color: var(--box-color, black);
  background-color: var(--box-bg, white);
  padding: var(--box-padding, #{$box-padding});
  border: var(--box-border, solid 1px black);

  & * {
    color: inherit;
  }

  &[data-box="light"] {
    --box-color: white;
    --box-bg: black;
  }
}
