/*
 * CLUSTER
 * A layout that lets you distribute items with consistent spacing, regardless of their size.
 * Info: https://every-layout.dev/layouts/cluster/
 * 
 * CUSTOM PROPERTIES AND CONFIGURATION
 * --cluster-flex-wrap: Whether items should wrap onto the next line. Can be any acceptable flexbox wrap value.
 * --cluster-horizontal-alignment: How items should align horizontally. Can be any acceptable flexbox alignment value.
 * --cluster-vertical-alignment: How items should align vertically. Can be any acceptable flexbox alignment value.
 * --cluster-gap: Defines the space between each item.
 * 
 * Example: 
    <ul role="list" class="l-cluster">
      <a href="/"><img src="" alt="logo" /></a>
      <div class="l-cluster">
        <li><a href="/">item</a></li>
        <li><a href="/">item</a></li>
        <li><a href="/">item</a></li>
      </div>
    </ul>
 */

.l-cluster {
  display: flex;
  flex-wrap: var(--cluster-flex-wrap, wrap);
  justify-content: var(--cluster-horizontal-alignment, flex-start);
  align-items: var(--cluster-vertical-alignment, center);
  gap: var(--cluster-gap, var(--space-s-m));
}
