/*
 * CONTENT
 * A layout that allows for content, breakout, and full-width sections with consistent spacing.
 * Info: https://ryanmulligan.dev/blog/layout-breakouts/
 * 
 * CUSTOM PROPERTIES AND CONFIGURATION
 * --content-width-max: The maximum width of the content.
 * --content-breakout-max: The maximum width of the breakout section.
 * --content-gutter: The padding on the sides of the content.
 *
 * --content-breakout-size: The calculated width of the breakout section.
 * --content-full-width: The full width of the content, including the gutter.
 * --content-breakout: The width of the breakout section.
 * --content: The width of the content section.
 */

.l-content {
  --content-width-max: 900px;
  --content-breakout-max: 1200px;
  --content-gutter: var(--gutter);

  --content-breakout-size: calc(
    (var(--content-breakout-max) - var(--content-width-max)) / 2
  );
  --content-full-width: minmax(var(--content-gutter), 1fr);
  --content-breakout: minmax(0, var(--content-breakout-size));
  --content: min(100% - (var(--content-gutter) * 2), var(--content-width-max));

  display: grid;
  grid-template-columns:
    [full-width-start] var(--content-full-width)
    [breakout-start] var(--content-breakout)
    [content-start] var(--content) [content-end]
    var(--content-breakout) [breakout-end]
    var(--content-full-width) [full-width-end];

  & > * {
    grid-column: content;
  }

  & > &__breakout {
    grid-column: breakout;
  }

  & > &__full-width {
    grid-column: full-width;

    &[data-full-width="contained"] {
      padding-inline: var(--content-gutter);
    }
  }
}

main > p {
  grid-column: content-start / full-width-end !important;
  background-color: red;
}
