/*
 * CONTENT
 * A layout that allows for content, breakout, and full-width sections with consistent spacing.
 * Info: https://ryanmulligan.dev/blog/layout-breakouts/
 * 
 * CUSTOM PROPERTIES AND CONFIGURATION
 * --content-width-max: The maximum width of the content.
 * --content-breakout-max: The maximum width of the breakout section.
 * --content-gutter: The padding on the sides of the content.
 */

.l-content {
  --content: min(100% - (var(--gutter) * 2), 900px);
  --content-full: minmax(var(--gutter), 1fr);
  --content-breakout: minmax(0, calc((1200px - 900px) / 2));

  display: grid;
  grid-template-columns:
    [full-width-start] var(--content-full)
    [breakout-start] var(--content-breakout)
    [content-start] var(--content) [content-end]
    var(--content-breakout) [breakout-end]
    var(--content-full) [full-width-end];

  & > * {
    grid-column: content;
  }

  & > &__breakout {
    grid-column: breakout;
  }

  & > &__full-width {
    grid-column: full-width;
    background-color: red;

    &[data-full-width="contained"] {
      padding-inline: var(--gutter);
    }
  }
}
