/*
 * FRAME
 * A layout that provides a container with a fixed aspect ratio.
 * Info: https://every-layout.dev/layouts/frame/
 * 
 * CUSTOM PROPERTIES AND CONFIGURATION
 * --frame-width: Defines the width of the frame. Default is 16.
 * --frame-height: Defines the height of the frame. Default is 9.
 * 
 * The frame layout uses flexbox to center its content both vertically and horizontally.
 * It applies object-fit: cover to its direct img or video children to ensure they cover the frame completely.
 * 
 * Example: 
 * <div class="l-frame" style="--frame-width: 4; --frame-height: 3;">
 *   <img src="image.jpg" alt="Description">
 * </div>
 */

.l-frame {
  aspect-ratio: var(--frame-width, 16) / var(--frame-height, 9);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  & > :where(img, video) {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }
}
