/*
 * FRAME
 * A layout that provides a container with a fixed aspect ratio.
 * Info: https://every-layout.dev/layouts/frame/
 * 
 * CUSTOM PROPERTIES AND CONFIGURATION
 * --frame-width: Defines the width of the frame. Default is 16.
 * --frame-height: Defines the height of the frame. Default is 9.
 * 
 * The frame layout uses flexbox to center its content both vertically and horizontally.
 * It applies object-fit: cover to its direct img or video children to ensure they cover the frame completely.
 * 
 * Example: 
    <ul class="l-grid">
      <li class="l-box u-flow">
        <img class="l-frame" src="" alt="image" style="--frame-width: 4; --frame-height: 3;" />
        <h3>title</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </li>
    </ul>
 */

.l-frame {
  aspect-ratio: var(--frame-width, 16) / var(--frame-height, 9);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  & > :where(img, video) {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }
}
