/*
 * REPEL
 * A layout that pushes items away from each other where there is space in the viewport and stacks on small viewports.
 * Info: https://set.studio/
 * 
 * CUSTOM PROPERTIES AND CONFIGURATION
 * --repel-vertical-alignment: How items should align vertically.
 * --repel-gap: The space between each item.
 * 
 * A data attribute [data-repel="nowrap"] can be used to prevent items from wrapping onto the next line.
 */

.l-repel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: var(--repel-vertical-alignment, center);
  gap: var(--repel-gap, var(--gutter));

  &[data-repel="nowrap"] {
    flex-wrap: nowrap;
  }
}
