/*
 * REPEL
 * A layout that pushes items away from each other where there is space in the viewport and stacks on small viewports.
 * Info: https://set.studio/
 * 
 * CUSTOM PROPERTIES AND CONFIGURATION
 * --repel-vertical-alignment: How items should align vertically. Can be any acceptable flexbox alignment value.
 * --gutter: Defines the space between each item. Can be any acceptable size value.
 * 
 * A data attribute [data-nowrap] can be used to prevent items from wrapping onto the next line.
 * 
 * Example: 
    <ul role="list" class="l-repel">
      <a href="/"><img src="" alt="logo" /></a>
      <div class="l-cluster">
        <li><a href="/">item</a></li>
        <li><a href="/">item</a></li>
        <li><a href="/">item</a></li>
      </div>
    </ul>
 */

.l-repel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: var(--repel-vertical-alignment, center);
  gap: var(--gutter, var(--space-s-m));

  &[data-nowrap] {
    flex-wrap: nowrap;
  }
}
