/*
 * SIDEBAR
 * A layout that provides a flexible sidebar and main content area.
 * Info: https://every-layout.dev/layouts/sidebar/
 * 
 * CUSTOM PROPERTIES AND CONFIGURATION
 * --sidebar-gap: Defines the space between the sidebar and the main content. Default is var(--space-s-l).
 * --sidebar-target-width: Defines the preferred width of the sidebar. Default is 20rem.
 * --sidebar-content-min-width: Defines the minimum width of the main content area. Default is 60%.
 * --sidebar-vertical-alignment: Controls the vertical alignment of the sidebar and main content. Default is 'stretch'.
 * 
 * A data attribute [data-sidebar="rtl"] can be used to reverse the direction of the layout.
 * 
 * Example: 
    <body class="l-sidebar" data-switcher="rtl">
      <main>main</main>
      <aside>aside</aside>
    </body>
 */

.l-sidebar {
  display: flex;
  flex-wrap: wrap;
  align-items: var(--sidebar-vertical-alignment, stretch);
  gap: var(--sidebar-gap, var(--space-s-l));

  & > :first-child {
    flex-basis: var(--sidebar-target-width, 20rem);
    flex-grow: 1;
  }

  & > :last-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: var(--sidebar-content-min-width, 60%);
  }

  &[data-sidebar="rtl"] {
    flex-direction: row-reverse;
  }
}
