/*
 * SWITCHER
 * A layout that allows you to switch the layout of items based on available space.
 * Info: https://every-layout.dev/layouts/switcher/
 * 
 * CUSTOM PROPERTIES AND CONFIGURATION
 * --switcher-gap: Defines the space between each item. Default is var(--space-s-l).
 * --switcher-content-alignment: How items should distribute in the vertical space when there is extra space in the cross-axis. Default is flex-start.
 * --switcher-vertical-alignment: How items should align horizontally. Default is flex-start.
 * --switcher-target-width: The target width for each item. Default is 30rem.
 * 
 * A data attribute [data-switcher="full-width-after-2"] can be used to make items full width after the second item.
 * 
 * Example: 
    <div class="switcher" data-switcher="full-width-after-2">
      <div><!-- child element --></div>
      <div><!-- another child element --></div>
      <div><!-- etc --></div>
    </div>
 */

.l-switcher {
  display: flex;
  flex-wrap: wrap;
  align-content: var(--switcher-content-alignment, flex-start);
  align-items: var(--switcher-vertical-alignment, flex-start);
  gap: var(--switcher-gap, var(--space-s-l));

  & > * {
    flex-grow: 1;
    flex-basis: calc((var(--switcher-target-width, 30rem) - 100%) * 999);
  }

  &[data-switcher="full-width-after-2"] {
    & > :nth-child(n + 3) {
      flex-basis: 100%;
    }
  }
}
