/*
C-SWITCHER
More info: https://every-layout.dev/layouts/switcher/
A layout that provides a way to switch between different views or states.

CUSTOM PROPERTIES AND CONFIGURATION
--gutter: This defines the space between each switcher item.
--switcher-target-width: Determines the target width of the switcher items.
--switcher-align-items: Determines how the items are aligned along the cross axis.

The 'space-between' attribute can be added to the switcher to distribute the space between the items evenly.
*/

.c-switcher {
  --_switcher-gap: var(--gutter, 1rem); // var(--space-s-l)); ???
  --_switcher-target-width: 40rem;

  display: flex;
  flex-wrap: wrap;
  gap: var(--switcher-gap, var(--_switcher-gap));
  align-items: var(--switcher-align-items, flex-start);

  & > * {
    flex-grow: 1;
    flex-basis: calc(
      (var(--switcher-target-width, var(--_switcher-target-width)) - 100%) * 999
    );
  }

  /* Max 2 items, so anything greater than 2 is full width */
  & > :nth-child(n + 3) {
    flex-basis: 100%;
  }
}
