/*
 * WRAPPER & FULL-WIDTH
 * A layout that constrains the width of its content, centering it in the available space and adding padding on the sides. 
 * It also offers an option to make an element span the full width of the viewport (full-bleed).
 * Info: https://www.joshwcomeau.com/css/full-bleed/
 * 
 * CUSTOM PROPERTIES AND CONFIGURATION
 * --wrapper-max-inline-size: The maximum width of the content.
 * --wrapper-padding: The padding on the sides of the content.
 * --full-width-padding: Defines the padding for the contained full-bleed element.
 */

.l-wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(
      var(--wrapper-max-inline-size, 85rem),
      calc(100% - calc(var(--wrapper-padding, var(--gutter)) * 2))
    )
    1fr;
  grid-column-gap: var(--wrapper-padding, var(--gutter));

  > * {
    grid-column: 2;
  }

  &__full-width {
    inline-size: 100%;
    grid-column: 1 / -1;

    &[data-full-width="contained"] {
      padding-inline: var(--full-width-padding, var(--gutter));

      & > * {
        max-inline-size: var(--wrapper-max-inline-size, 85rem);
        margin-inline: auto;
      }
    }
  }
}
