/*
WRAPPER COMPOSITION 
A common wrapper/container
*/

@use "../00-design-tokens/viewports" as *;

.l-wrapper {
  $wrapper-max-inline-size: #{calc(map-get($viewports, "max") * 1px)};
  $wrapper-padding-inline: var(--gutter, 5rem); // ???

  max-inline-size: var(--wrapper-max-inline-size, #{$wrapper-max-inline-size});
  margin-inline: auto;
  padding-inline: var(--wrapper-padding-inline, #{$wrapper-padding-inline});
  position: relative;

  &[data-wrapper="full-width"] {
    --wrapper-max-inline-size: 100%;
    inline-size: 100%;
  }

  [data-wrapper="full-bleed"] {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    background-color: pink;

    & > *:not(img) {
      @extend .l-wrapper;
    }
  }
}
