@use "node_modules/utopia-core-scss/src/utopia" as utopia;
@use "./viewports" as *;
@use "../10-functions/helpers" as help;

$spacing: utopia.calculateSpaceScale(
  (
    "minWidth": map-get($viewports, "min"),
    "maxWidth": map-get($viewports, "max"),
    "minSize": 18,
    "maxSize": 20,
    "positiveSteps": (
      1.5,
      2,
      3,
      4,
      6,
    ),
    "negativeSteps": (
      0.75,
      // 0.5,
      // 0.25,,,
    ),
    "customSizes": (
      "s-l",
      // "l-s"
    ),
    // Optional params
    "relativeTo": "viewport-width",
  )
);

$spacing: help.select-and-merge-key-value-pairs(
  $variable: $spacing,
  $key: "label",
  $keyValue: "clamp",
  $isNested: true,
);
