@use "node_modules/utopia-core-scss/src/utopia" as utopia;
@use "./viewports" as *;
@use "../10-functions/helpers" as help;

$text-sizes: utopia.calculateTypeScale(
  (
    "minWidth": map-get($viewports, "min"),
    "maxWidth": map-get($viewports, "max"),
    "minFontSize": 16,
    "maxFontSize": 18,
    "minTypeScale": 1.2,
    "maxTypeScale": 1.25,
    "positiveSteps": 5,
    "negativeSteps": 2,
    // Optional params
    "relativeTo": "viewport-width",
  )
);

$text-sizes: help.select-and-merge-key-value-pairs(
  $variable: $text-sizes,
  $key: "step",
  $keyValue: "clamp",
  $isNested: false,
);
