@function reconcile-values($variable: null, $key: null) {
  @if $variable == null {
    @error "Variable is missing. Please provide a map when including the mixin.";
  }
  @if $key == null {
    @error "Key is missing. Please provide a key when calling the function.";
  }

  $new-variable: ();
  @each $value in $variable {
    $key-value: map-get($value, $key);
    $clamp-value: map-get($value, "clamp");

    $new-variable: map-merge(
      $new-variable,
      (
        $key-value: $clamp-value,
      )
    );
  }

  @return $new-variable;
}
