@use "../10-functions/get-css-variable" as *;

* {
  outline: solid 1px pink;
}

html {
  color-scheme: light dark;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: get("font-size", 0);
  font-family: get("font-family", base);
  word-break: break-word;
}

header {
  margin: get("space-size", "xl-2xl");
  font-size: get("font-size", 5);
  background-color: get("color", "grayish-blue");
}

footer {
  // margin: get("space-size", s);
}
