@use "../10-functions/get" as *;

html {
  color-scheme: light dark;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-block-size: 100vh;
  font-size: get("font-size", 0);
  font-family: get("font-family", base);
}

header {
  margin: get("space-size", xl);
  font-size: get("font-size", 5);
}
