@use "../20-mixins/tokens-to-variables" as *;
@use "../00-design-tokens/viewports" as *;

:root {
  --layout-base-min: #{map-get($viewports, "max")}px;
  --layout-base-max: #{map-get($viewports, "max")}px;

  @include tokensToVariables();

  --gutter: var(--space-s-l);
  --measure: 75ch;
}
